body {
    color:saddlebrown;
    background-color: lightpink;
}
h1 {color:#8b4513; background-color: lightsteelblue
    font-family: "PT Sans", sans-serif;
}
h2 {color:lightsteelblue; background-color:rgb(130, 163, 130);
    font-family: "PT Sans", sans-serif;
}
a {color:lightsteelblue; background-color:darkseagreen}

nav {background-color:lightsteelblue;}

nav a {color:white;}
nav {color:white;}

nav {
    padding: 10px;
    margin-bottom:30px;
    background-color:blanchedalmond;
}